body{
    margin : 0 ;
    padding: 0 ;
}


#navbar{
    display : flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}

#nav{
    display: flex;
    gap: 20px;
}

a{
    color: black;
    text-decoration: none;
}

li{
    list-style: none;
}

#navbar p{
    font-size: 20px;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}
.student-list-item{
    display:flex;
    border:1px solid black;
    width: 80%;
    box-shadow: 0px 2px 2px rgb(238, 90, 90);
    border-radius: 10px;
    justify-content: space-evenly;


}

#student-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.green-btn{
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.green-btn:hover{
    background-color: rgb(189, 218, 146);
}
.red-btn{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.red-btn:hover{
    background-color: rgb(224, 141, 141);
}

.btn-container{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.present{
    color:greenyellow;
}

.absent{
    color: red;
}

@media (max width :720px){
    .hide-mobile{
        display:none;
    }
}